<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aram</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/index.css">

    <!-- Font-Aweson -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <a class="logo" href="/">
                <i class="fa-solid fa-bolt"></i>
                <h3>AramEle</h3>
            </a>
            <ul class="links">
                <li><a href="/">Home</a></li>
                <li><a href="#">link-2</a></li>
                <li><a href="#">link-3</a></li>
                <li><a href="#">link-4</a></li>
            </ul>
            <ul class="icons">
                <li><i class="fa-regular fa-heart"></i></li>
                <li class="buyBtn"><span class="cartCount"><%= buyProducts.length %></span><i class="fa-solid fa-cart-shopping"></i></li>
                <li class="userBtn"><i class="fa-regular fa-user"></i></li>
                <li class="menuBtn"><i class="fa-solid fa-bars"></i></li>
            </ul>
        </div>
    </nav>

    <div class="responsiveMenu">
        <div class="aside">
            <div class="top">
                <a class="logo" href="/">
                    <i class="fa-solid fa-bolt"></i>
                    <h3>AramEle</h3>
                </a>
                <i class="fa-solid fa-xmark closeRespMenu"></i>
            </div>
            <ul class="links">
                <a href="/">Home</a>
                <a href="#">link-2</a>
                <a href="#">link-3</a>
                <a href="#">link-4</a>
            </ul>
            <div class="bottom">
                <div class="icons">
                    <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                </div>
                <p>Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
            </div>
        </div>
    </div>

    <div id="shopping">
        <div class="aside">
            <div class="top">
                <a class="logo" href="index.html">
                    <i class="fa-solid fa-bolt"></i>
                    <h3>AramEle</h3>
                </a>
                <div class="closeShoppingMenu">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="cards">
               
            </div>
            <div class="bottomInfo">
                <h3>Total</h3>
                <div class="end">
                    <span class="allCount">0</span>
                    <span>$ <span class="allGin">56788</span></span>
                </div>
            </div>
        </div>
    </div>


    <div id="hero" class="section">
        <div class="container">
            <div class="content">
                <h1>This Is a <span>Aram's</span> <br>
                    Electronics Online Shop</h1>
                <p class="info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, sint! Quod non ut, optio id voluptas ipsum? Omnis, sint dignissimos. Quod assumenda aliquam delectus, adipisci blanditiis fugiat enim hic. Itaque aliquam quae illo minima sapiente esse voluptatum repellat eligendi blanditiis.</p>
                <button>Can You Buy All Products</button>
                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="lightP">8,000,000+ users, Chrome Web Store</p>
            </div>
            <div class="parallex">
                <div class="img">
                    <img src="./images/drone.png" alt="dron">

                    <div class="card">
                        <div class="title">
                            <h3>$22.00</h3>
                            <p>tested the best 5 codes in 1.61s</p>
                        </div>
                        <ul class="lists">
                            <li>
                                <span>fit</span>
                                <i class="fa-solid fa-check"></i>
                            </li>
                            <li>
                                <span>sundaysms</span>
                                <i class="fa-solid fa-check"></i>
                            </li>
                            <li>
                                <span>love</span>
                                <i class="fa-solid fa-check"></i>
                            </li>
                            <li>
                                <span>btssms</span>
                                <i class="fa-solid fa-check"></i>
                            </li>
                            <li>
                                <span>sunday</span>
                                <i class="fa-solid fa-check"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pictures">
        <div class="container">
            <div class="picture">
                <img src="./images/Screenshot_1.jpg" alt="photo1">
                <h3>Best Computer</h3>
            </div>
            <div class="picture">
                <img src="./images/Screenshot_2.jpg" alt="photo1">
                <h3>Best Phone</h3>
            </div>
        </div>
    </div>

    <div id="about" class="section">
        <div class="container">
            <div class="title globalTitle">
                <h2>This Is About </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eligendi, delectus iusto incidunt soluta inventore.</p>
            </div>
            <div class="boxes">
                <div class="image">
                    <img src="./images/4016556_15264 (1).jpg" alt="Electronics">
                </div>
                <div class="content">
                    <div class="top">
                        <p class="name">About Content</p>
                        <h3>Automatically apply coupon codes for free - it's kinda genius.</h3>
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore libero odit dolorum a soluta ipsa eaque, non nesciunt repellat molestiae excepturi tempore vitae quasi,nemo enim cumque in explicabo fugiat, dignissimos officiis reprehenderit <br>aliquam nobis ex fuga. Ullam, voluptatibus consequatur, qui sed vero suscipit voluptate perspiciatis quibusdam et nam exercitationem aut magni amet impedit vitae repudiandae iusto. Quis, dolore eum?</p>

                    <div class="products">
                        <div class="card">
                            <span>+150</span>
                            <i class="fa-solid fa-tv"></i>
                        </div>
                        <div class="card">
                            <span>+999</span>
                            <i class="fa-solid fa-microscope"></i>
                        </div>
                        <div class="card">
                            <span>+720</span>
                            <i class="fa-solid fa-camera"></i>
                        </div>
                        <div class="card">
                            <span>+333</span>
                            <i class="fa-solid fa-computer"></i>
                        </div>
                    </div>

                    <div class="buttons">
                        <button>Show More</button>
                        <button>Less More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section offer">
        <div class="container offerContainer">
            <div class="title">
                <h2>The Popular Products</h2>
                <a href="#">View all <i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="slider" data-get="getSlidersParam">
                <div class="cont sliderContainer" data-value="0">
                    <div class="cards sl">
                        <% for(let i = 0; i < products.length; i++) { %>
                            <div class="card" id="<%= products[i].id %>">
                                <div class="image">
                                    <img src="<%= products[i].images[0] %>"> 
                                </div>
                                <div class="content">
                                    <div class="top">
                                        <p class="status"><%= products[i].type %></p>
                                        <h3 class="info"><%= products[i].name %></h3>
                                        <!-- <p class="address">3811 Ditmars Blvd Astoria, NY 11105</p> -->
                                        <div class="stars">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <p class="price"><i class="fa-solid fa-money-bill"></i> $<%= products[i].price %></p>
                                    </div>
                                    <div class="cardFooter">
                                        <div class="info likeBtn"><i class="fa-regular fa-heart"></i></div>
                                        <a class="info showBtn" href="/gallery/<%= products[i].id %>"><i class="fa-regular fa-eye"></i></a>
                                        <div class="info buyBtn"><i class="fa-solid fa-cart-shopping"></i></div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                </div>
                <button class="left lRBtn" disabled><i class="fa-solid fa-chevron-left"></i></button>
                <button class="right lRBtn"><i class="fa-solid fa-chevron-right"></i></button>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<div id="footerBottom">
    <div class="container">
        <p>© 2023 Your company. All rights reserved.</p>
        <p>This Project was Made by <span>Aram Mikalyan</span></p>
    </div>
</div>
    <script src="./scripts/sliderCards.js"></script>
    <script src="./scripts/navbar.js"></script>
    <script src="./scripts/calculator.js"></script>
    <!-- <script src="./scripts/gallery.js"></script> -->
</body>
</html>